@page "/simulator"

@using Spike.Domain.Models
@using Spike.Domain.Queries
@using MediatR
@inject IMediator Mediator

<PageTitle>Simulators</PageTitle>

<h1>Simulators</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (isLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var simulator in Simulators)
            {
                <tr>
                    <td>@simulator.Id.Value</td>
                    <td>@simulator.Name</td>
                    <th><NavLink href="@($"/simulator/{simulator.Id}")">Edit</NavLink></th>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private bool isLoading = true;
    private IEnumerable<SimulatorInfo> Simulators { get; set; } = new List<SimulatorInfo>();

    protected override async Task OnInitializedAsync()
    {
        Simulators = await Mediator.Send(new ListSimulators());

        isLoading = false;
        StateHasChanged();
    }
}
